body {
    background: #fff;
}
.password-form {
    display: flex;
    flex-direction: column;
  }
  .input-wrapper {
    position: relative;
            width: 200px;
         
  }

  .input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 24px;
  }

  .input-wrapper i {
    position: absolute;
    right: 25px;
    top: 30px;
    color: grey;
  }

        .btn{
            width: 150px;
            margin-bottom: 20px;
        }

  .invalid {
    color: red; position: absolute; top: 60px; font-size: 10px;
  }
  

