body {
    background: #fff;
}

  .input-wrapper i {
    color: grey;
  }

  .invalid {
    color: red;
  }

  .btn-theme[data-theme="dark"] {
    display: block;
  }

  .btn-theme[data-theme="light"] {
    display: none;
  }